{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block container %}
    {{ super() }}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <h1>Sign Up</h1>
        </div>
        <br><br>
    </div>
    <div class="row">
        <form action="" method="post" class="form-horizontal" role="form">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {% if 'csrf' not in field.name %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-10">
                            {{ field(class='form-control') }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="text-danger"><strong>{{ error }}</strong></p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
